html {
    font-family: sans-serif;
    line-height: 1.15;
    display: block;
    cursor: text;
    color: -internal-root-color;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html[Attributes = Style] {
    -webkit-locale: "en";
    direction: ltr;
    unicode-bidi: isolate;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: block;
}
.p-0 {
    padding: 0;
}
.bg-dark {
    background-color: #343a40;
}
@media (min-width: 576px){
    .navbar-expand-sm {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
.navbar {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-between; */
    /* padding: 0.5rem 1rem; */
}
@media (min-width: 576px){
    .navbar-expand-sm > .container, .navbar-expand-sm > .container-fluid {
        flex-wrap: nowrap;
    }
}
.navbar > .container, .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.navbar-dark .navbar-brand {
    color: white;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-toggler {
        display: none;
    } 
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-collapse {
        display: flex !important;
    }
}
.navbar-collapse {
    flex-basis: 100%;
    align-items: center;
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.pl-2, .px-2 {
    padding-left: 0.5rem !important;
}
.pr-2, .px-2 {
    padding-right: 0.5rem !important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: white;
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
li {
    text-align: -webkit-match-parent;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}
.dropup, .dropdown {
    position: relative;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-user:before {
    content: "\f007";
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: normal;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}
.text-white {
    color: #fff;
}
.text-center {
    text-align: center !important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem;
}
.pt-2, .py-2 {
    padding-top: 0.5rem;
}
.bg-primary {
    background-color: #007bff;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
div {
    display: block;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
h1, .h1 {
    font-size: 2.5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem;
}
.pt-4, .py-4 {
    padding-top: 1.5rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem;
}
.bg-light {
    background-color: #f8f9fa;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    } 
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-warning {
    color: #111;
    background-color: #ffc107;
    border-color: #ffc107;
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 768px){
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
h4, .h4 {
    font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}
.thead-inverse th {
    color: #fff;
    background-color: #212529;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}
th {
    text-align: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
}
:-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}
.bg-success {
    background-color: #28a745 !important;
}
.bg-warning {
    background-color: #ffc107 !important;
}
.p-5 {
    padding: 3rem !important;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.bg-dark {
    background-color: #343a40 !important;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%);
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
h5, .h5 {
    font-size: 1.25rem;
}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.modal-header .close {
    margin-left: auto;
}
button.close {
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
}
form {
    display: block;
    margin-top: 0em;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
label {
    cursor: default;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.form-control-file, .form-control-range {
    display: block;
}
input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    padding: initial;
    border: initial;
}
.text-muted {
    color: #868e96 !important;
}
.form-text {
    display: block;
    margin-top: 0.25rem;
}
small, .small {
    font-size: 80%;
    font-weight: normal;
}
small {
    font-size: 80%;
}
textarea {
    overflow: auto;
    resize: vertical;
}
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 2px;
}
.cke_chrome {
    visibility: inherit;
}
.cke_chrome {
    display: block;
    border: 1px solid #d1d1d1;
    padding: 0;
}
.cke_reset {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    width: auto;
    height: auto;
    vertical-align: baseline;
    box-sizing: content-box;
    position: static;
    transition: none;
}
.cke {
    visibility: hidden;
}
.cke_voice_label {
    display: none;
}
.cke_inner {
    display: block;
    background: #fff;
    padding: 0;
    -webkit-touch-callout: none;
}
.cke_top {
    border-bottom: 1px solid #d1d1d1;
    background: #f8f8f8;
    padding: 6px 8px 2px;
    white-space: normal;
}
.cke_top, .cke_contents, .cke_bottom {
    display: block;
    overflow: hidden;
}
.cke_reset_all, .cke_reset_all *, .cke_reset_all a, .cke_reset_all textarea {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    width: auto;
    height: auto;
    vertical-align: baseline;
    box-sizing: content-box;
    position: static;
    transition: none;
    border-collapse: collapse;
    font: normal normal normal 12px Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
    color: #000;
    text-align: left;
    white-space: nowrap;
    cursor: auto;
    float: none;
}
.cke_toolbar {
    float: left;
}
.cke_toolgroup {
    border: 0;
    float: left;
    margin: 1px 2px 6px 0;
    padding-right: 3px;
}
a.cke_button {
    display: inline-block;
    height: 18px;
    padding: 4px 6px;
    outline: 0;
    cursor: default;
    float: left;
    border: 0;
    position: relative;
}
a.cke_button_disabled .cke_button_icon, a.cke_button_disabled .cke_button_arrow {
    opacity: .3;
}
.cke_ltr .cke_button__copy_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -216px !important;
}
.cke_button_icon {
    cursor: inherit;
    background-repeat: no-repeat;
    margin-top: 1px;
    width: 16px;
    height: 16px;
    float: left;
    display: inline-block;
}
.cke_button_label {
    display: none;
    padding-left: 3px;
    margin-top: 1px;
    line-height: 17px;
    vertical-align: middle;
    float: left;
    cursor: default;
    color: #484848;
}
.cke_ltr .cke_button__paste_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -312px !important;
}
.cke_ltr .cke_button__pastetext_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -720px !important;
}
.cke_ltr .cke_button__pastefromword_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -768px !important;
}
.cke_toolbar_separator {
    float: left;
    background-color: #bcbcbc;
    margin: 4px 2px 0 2px;
    height: 18px;
    width: 1px;
}
.cke_button__scayt_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -888px !important;
}
.cke_button_arrow {
    display: inline-block;
    margin: 8px 0 0 1px;
    width: 0;
    height: 0;
    cursor: default;
    vertical-align: top;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #484848;
}
.cke_button__link_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -528px !important;
}
.cke_button__unlink_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -552px !important;
}
.cke_ltr .cke_button__anchor_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -504px !important;
}
.cke_button__image_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -360px !important;
}
.cke_button__table_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -912px !important;
}
.cke_button__horizontalrule_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -336px !important;
}
.cke_button__specialchar_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -864px !important;
}
.cke_button__maximize_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -672px !important;
}
.cke_ltr .cke_button__source_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -840px !important;
}
.cke_button__source_label, .cke_button__sourcedialog_label {
    display: inline;
}
.cke_toolbar_break {
    display: block;
    clear: left;
}
.cke_button__bold_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -24px !important;
}
.cke_button__italic_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -48px !important;
}
.cke_button__strike_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -72px !important;
}
.cke_button__removeformat_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -792px !important;
}
.cke_ltr .cke_button__numberedlist_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -648px !important;
}
.cke_ltr .cke_button__bulletedlist_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -600px !important;
}
.cke_ltr .cke_button__outdent_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -456px !important;
}
.cke_ltr .cke_button__indent_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -408px !important;
}
.cke_button__blockquote_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -168px !important;
}
.cke_combo {
    display: inline-block;
    float: left;
    position: relative;
    margin-bottom: 5px;
}
.cke_combo_label {
    display: none;
    float: left;
    line-height: 26px;
    vertical-align: top;
    margin-right: 5px;
}
a.cke_combo_button {
    cursor: default;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 1px;
}
.cke_combo_text {
    line-height: 26px;
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    cursor: default;
    color: #484848;
    width: 60px;
}
.cke_combo_open {
    cursor: default;
    display: inline-block;
    font-size: 0;
    height: 19px;
    line-height: 17px;
    margin: 1px 10px 1px;
    width: 5px;
}
.cke_combo_arrow {
    cursor: default;
    margin: 11px 0 0;
    float: left;
    height: 0;
    width: 0;
    font-size: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #484848;
}
.cke_toolbar .cke_combo+.cke_toolbar_end, .cke_toolbar .cke_combo+.cke_toolgroup {
    margin-right: 0;
    margin-left: 2px;
}
.cke_button__about_icon {
    background: url(icons.png?t=95e5d83) no-repeat 0 -0px !important;
}
.cke_wysiwyg_frame, .cke_wysiwyg_div {
    background-color: #fff;
}
.cke_editable {
    cursor: text;
    font-size: 13px;
    line-height: 1.6;
    word-wrap: break-word;
}
.cke_bottom {
    padding: 6px 8px 2px;
    position: relative;
    border-top: 1px solid #d1d1d1;
    background: #f8f8f8;
}
.cke_resizer_ltr {
    cursor: se-resize;
    float: right;
    margin-right: -4px;
}
.cke_resizer {
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 10px 10px 0 0;
    border-color: transparent #bcbcbc transparent transparent;
    border-style: dashed solid dashed dashed;
    font-size: 0;
    vertical-align: bottom;
    margin-top: 6px;
    margin-bottom: 2px;
}
.cke_path {
    float: left;
    margin: -2px 0 2px;
}
a.cke_path_item, span.cke_path_empty {
    display: inline-block;
    float: left;
    padding: 3px 4px;
    margin-right: 2px;
    cursor: default;
    text-decoration: none;
    outline: 0;
    border: 0;
    color: #484848;
    font-weight: bold;
    font-size: 11px;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #e9ecef;
}
.modal-footer > :not(:last-child) {
    margin-right: .25rem;
}
.modal-footer > :not(:first-child) {
    margin-left: .25rem;
}
input[type="password" i] {
    -webkit-text-security: disc !important;
}